extends dash_layout 
block content
    body.collections
         h2.reg Product  List.
         table.table.table-washers 
            thead
                tr
                    th Product Name 
                    th Price
                    th Quantity
                    th Status
                    th Type
                tbody
                if products.length
                    each product in products
                        tr
                            td #{product.name}
                            //name and email have to match exactly with models database file as they are written in small case
                            td #{product.price}
                            td #{product.quantity}
                            td #{product.status}
                            td #{product.type}
                            td
                                form.delete(method="post" action='/products/delete')
                                    input(type="hidden", placeholder="", name="id", value=product._id)
                                    button.button2(type="submit") Delete
                            td
                                form.delete(method="post" action='/products/delete')
                                    input(type="hidden", placeholder="", name="id", value=product._id)
                                    button.button2(type="submit") edit